{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'homepage_style.css' %}">
</head>
<body>
    <header>
    <div class="text-container">
        <h1>Flash Cards</h1>
        <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam, rerum? Ullam in quibusdam a repellendus doloribus consequatur sequi illum suscipit?</h3>
    </div>
    <div class="logo">
        <div class="card"></div>
        <div class="card"></div>
        <div class="card"></div>
    </div>
</header>
<div class="login-section">
    <button class="login">Login</button>
    <button class="register">Register</button>
</div>
<div class="main-section">
    
</div>
</body>
</html>