{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="{% static 'homepage_style.css' %}">
</head>
<body>
    <header>
        <nav>
            <p>NOT LOGGED IN</p>
        </nav>
</header>

<div class="main-section">
    <div class="text-container">
        <h1>Flash Cards</h1>
    </div>
    <div class="logobox">
        <div class="logo">
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
            <div class="card"></div>
        </div>
    </div>    
    <div class="login-section">
        <a href=""><button class="login">Login</button></a>
        <a href=""><button class="register">Register</button></a>
    </div>
</div>
</body>
</html>