@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

body {
    margin: 0;
    font-family: "Special Gothic Expanded One", sans-serif;
    height: 100vh;
}

header {
    background: cyan;
}

nav {
    text-align: center;
}

nav > p {
    padding: 10px;
    margin: 0;
}

.main-section {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 70vh;
}

.logobox {
    height: 40vh;
    position: absolute;
}

h3 {
    margin-top: 15vh;
    text-wrap: wrap;
}

h1 {
    text-align: center;
    font-size: 100px;
}

.text-container {
    height: 100%;
    width: 50vw;
    min-width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 100%;
    width: 50vw;
    position: relative;
    min-width: 450px;
}

.card {
    z-index: -1;
    background: red;
    border-radius: 20px;
    height: 300px;
    width: 200px;
    position: absolute;
    top: 50%; 
    transform-origin: center bottom; 
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.3s ease;
}

.card:nth-of-type(1) {
    top: 55%; 
    left: 20%;
    background: blue;
    transform: translateX(-50%) translateY(-50%) rotate(-10deg);
}

.card:nth-of-type(2) {
    top: 52%; 
    left: 30%;
    background: mediumblue;
    transform: translateX(-50%) translateY(-50%) rotate(-5deg);
}

.card:nth-of-type(3) {
    left: 40%;
    background: green;
    transform: translateX(-50%) translateY(-50%) rotate(-2deg);
}

.card:nth-of-type(4) {
    left: 50%;
    background: pink;
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
}

.card:nth-of-type(5) {
    left: 60%;
    background: yellow;
    transform: translateX(-50%) translateY(-50%) rotate(2deg);
}

.card:nth-of-type(6) {
    top: 52%;   
    left: 70%;
    background: cyan;
    transform: translateX(-50%) translateY(-50%) rotate(5deg);
}

.card:nth-of-type(7) {
    top: 55%; 
    left: 80%;
    background: magenta;
    transform: translateX(-50%) translateY(-50%) rotate(10deg);
}

.login-section {
    padding: 40px;
    display: flex;
    flex-direction: row;
    width: 40vw;
    justify-content: space-between;
}

button {
    height: 50px;
    width: 200px;
}
